<html>
<head>
  <title>test</title>
 
</head>
<body>
    <form action="/pofile" method="POST" enctype="multipart/form-data">
        <div>
            <label>First name</label>
<input type="text" name="fname"/>
        </div><br/>
        <div>
            <label>Image</label>
            <input type = "file" name="avatar"/>
        </div>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>